<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Pallet Town Pokedex</title>
    </head>

    <body>
        <nav class="navbar" style="background-color: rgb(109, 43, 43)">
            {{!-- Link to modules  javascript instead of html--}}
            <a class="navbar-title" href="index.html">Welcome to your Pallet Town Pokedex!</a>
            <a class="navbar-link1" href="homepage.html"> Homepage</a>
            <a class="navbar-link2" href="pokedex.html"> Training Deck</a>
        </nav>
        {{body}}
    </body>

</html>