 <div class="container">
        <div class="speech-bubble">
            <p id="result"></p>
            <div class="container-text">
                <p> Oak : Hello there! Welcome to the world of POKEMON! </p>
                <p>My name is OAK! People call me the POKEMON PROF! </p>
                <p>This world is inhabited by creatures called POKEMON! </p>
                <p>For some people, POKEMON are pets. </p>
                <p>Others use them for fights. Myself...I study POKEMON as a profession. </p>
                <p>First, what is your name?</p>
            </div>
            {{!-- Using passport We will get user information and Save it in a server aka  Pushing info--}}
            <form>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputUsername3" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUsername3" placeholder="Username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn-signIn">Sign in</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="oak">
            <img src="https://user-images.githubusercontent.com/74163812/110055963-f1e03300-7d2b-11eb-9714-addc584c19a1.png"
                width="300px" height="300px" viewBox="-0.5 -0.5 168 198">
        </div>